<!DOCTYPE html>
<html lang="pt-br">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
        index
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>